@import "tailwindcss";

@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Miniver&family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&family=Poppins:ital,wght@0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600&display=swap');

/* :root{
    --border-color-1:#898888;
    --text-color-1:#626262;
    --background-color-1:#FFFFFF;
} */



html,body{
    font-family: "Inter";
}
